
.background {
    background-color: white;
    cursor: auto;
    font-family: "Karla",sans-serif;
}
#main_div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.table {
    border: 0 none;
    margin: 30px auto;
    min-width: 600px;

}

.column_main {
    background-color: #f9f9f9;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.098);
    margin-left: 10px;
}
.table th {
    border: 0 none;
    border-bottom: 1px solid #5bc0de;
    color: #555555;
    margin: 2px;
    text-align: center;
    width: 240px;
}
.header_input {
    margin: 5px;
}
.title_bullet {
    height: 15px;
    margin-right: 5px;
    width: 16px;
}
.table td {
    border: medium none;
    height: 300px;
    padding: 0 5px;
    text-align: center;
    width: 240px;
}
.dotted_separator {
    border-right: 2px solid #dddddd !important;
}
.box_itm {

    border: 1px solid silver;

    margin: 5px 5px 0;
    padding: 5px;
    background:#fefabc;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:15px;
    color: #000;




    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;

}
.dotted_hr {
    background: url("../img/mookup/horizontal_dots.png") repeat scroll 0 0 transparent;
    height: 1px;
    margin: 0 20px;
}

.pull-right {
    cursor: pointer;
}
.name {
    margin: 5px;
    text-align: left;
    text-indent: 20px;
    text-transform: capitalize;
    padding-right: 12px;
}
.pbar {
    display: block;
    height: 10px !important;
    margin: 5px 5px 5px 20px;
    width: 170px;
}
.shadow {
    background: url("../img/mookup/post-it_sombra.png") no-repeat scroll 0 0 transparent;
    height: 14px;
    margin: 0 0 0 6px;
}
.small {
    font-size: 0.7em;
    height: 20px;
    margin: 5px;
}
.option {
    cursor: pointer;
    float: right;
}
.click {
    cursor: pointer;
}
.fright {
    float: right;
}
.clear {
    clear: both;
}
.rounded {
    border-radius: 5px;
}
.colorete {
    float: left;
    height: 24px;
    margin-left: 15px;
    width: 24px;
}
.close {
    height: 24px;
    margin-right: 12px;
    width: 24px;
}
.edit {
    height: 24px;
    margin-right: 3px;
    width: 24px;
}
.save_header {
    height: 24px;
    width: 24px;
}
.save {
    height: 24px;
    width: 24px;
}
.WIP {
    color: #888888;
    font-size: 0.7em;
    margin: 5px;
    padding-right: 10px;
    text-align: right;
}
